# Ignore node_modules in the frontend folder
frontend/node_modules/

# Ignore __pycache__ in the backend folder
backend/__pycache__/

# General Python ignores
*.pyc
*.pyo
*.pyd
.Python
.env
env/
venv/
ENV/
__pycache__/

# General Node.js ignores
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*